In [2]:
from numpy import genfromtxt
#from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from pandas import read_csv

In [2]:
dataset = read_csv('new_validation_data_akeshala_nipun_samal.csv')

In [3]:
print(dataset)

      Unnamed: 0  Reservation-id  Gender  Age  Ethnicity  Educational_Level  \
0              0        45716350       2   56          2                  4
1              1        88857401       2   60          1                  1
2              2        16074440       1   58          4                  1
3              3        10992124       1   23          1                  1
4              4        15934351       1   47          4                  1
...          ...             ...     ...  ...        ...                ...
2744        2744        32194836       1   22          2                  1
2745        2745        52215692       1   35          2                  1
2746        2746        31908733       2   18          4                  4
2747        2747        41776403       2   42          4                  1
2748        2748         5961678       2   53          3                  3

      Income  Country_region  Hotel_Type  No_of_Expected_Days_to_stay  ...  \
0          1               4           2                            2  ...
1          2               4           2                            4  ...
2          1               1           3                            1  ...
3          2               2           3                            2  ...
4          2               3           1                            1  ...
...      ...             ...         ...                          ...  ...
2744       3               3           2                            3  ...
2745       2               3           3                            1  ...
2746       2               1           2                            2  ...
2747       1               4           1                            1  ...
2748       4               2           3                            3  ...

      Meal_Type  Visted_Previously  Previous_Cancellations  Deposit_type  \
0             0                  0                       0             0
1             2                  1                       0             0
2             2                  0                       0             0
3             2                  1                       0             1
4             0                  1                       0             0
...         ...                ...                     ...           ...
2744          1                  1                       0             1
2745          2                  0                       0             2
2746          2                  0                       0             1
2747          0                  1                       1             0
2748          0                  0                       0             1

      Booking_channel  Required_Car_Parking  Reservation_Status  \
0                   2                     0                   1
1                   1                     1                   0
2                   0                     0                   0
3                   0                     0                   2
4                   1                     1                   2
...               ...                   ...                 ...
2744                1                     0                   2
2745                0                     1                   0
2746                2                     0                   1
2747                1                     1                   2
2748                0                     0                   2

      Use_Promotion  Discount_Rate  Room_Rate
0                 1             15        192
1                 0              0        187
2                 1             10        227
3                 1             25        189
4                 1             10        218
...             ...            ...        ...
2744              1             10        199
2745              1              5        106
2746              1             20        136
2747              1             20        226
2748              1             40        183

[2749 rows x 25 columns]

In [4]:
extracted_data = dataset.drop(columns = ["Reservation-id","Gender","Age","Ethnicity","Educational_Level","Income","Country_region","Hotel_Type","Adults","Children","Babies"])

In [5]:
#Meal Type Encode
def meal_type(x):
    if x == 0:
        x = 1
        return x
    elif x == 1:
        x = 2
        return x
    elif x == 2:
        x = 3
        return x

In [6]:
meal_type = extracted_data["Meal_Type"].apply(meal_type)

In [7]:
dataset.update(meal_type)

In [8]:
def yes_no(x):
    if x == "Yes":
        x = 1
        return x
    elif x == "No":
        return 0

In [9]:
visited_previously = extracted_data["Visted_Previously"].apply(yes_no)

In [10]:
dataset.update(visited_previously)

In [11]:
Previous_Cancellations = extracted_data["Previous_Cancellations"].apply(yes_no)

In [12]:
dataset.update(Previous_Cancellations)

In [13]:
def Deposit_type(x):
    if x == 0:
        return 1
    elif x == 1:
        return 2
    elif x == 2:
        return 3
    elif x == 3:
        return 4

In [14]:
Deposit_type = extracted_data["Deposit_type"].apply(Deposit_type)

In [15]:
dataset.update(Deposit_type)

In [16]:
def Booking_channel(x):
    if x == 0:
        return 1
    elif x == 1:
        return 2
    elif x == 2:
        return 3

In [17]:
Booking_channel = extracted_data["Booking_channel"].apply(Booking_channel)

In [18]:
dataset.update(Booking_channel)

In [19]:
dataset.update(extracted_data["Required_Car_Parking"].apply(yes_no))

In [20]:
dataset.update(extracted_data["Use_Promotion"].apply(yes_no))

In [21]:
def result(x):
    if x == 2:
        return 0
    elif x == 1:
        return 2
    elif x == 0:
        return 1

In [22]:
#dataset.update(dataset["Reservation_Status"].apply(result))

In [23]:
#dataset.to_csv("new_train_data_akeshala_nipun_samal_new.csv")

In [24]:
dataset.describe

<bound method NDFrame.describe of       Unnamed: 0  Reservation-id  Gender  Age  Ethnicity  Educational_Level  \
0              0        45716350       2   56          2                  4
1              1        88857401       2   60          1                  1
2              2        16074440       1   58          4                  1
3              3        10992124       1   23          1                  1
4              4        15934351       1   47          4                  1
...          ...             ...     ...  ...        ...                ...
2744        2744        32194836       1   22          2                  1
2745        2745        52215692       1   35          2                  1
2746        2746        31908733       2   18          4                  4
2747        2747        41776403       2   42          4                  1
2748        2748         5961678       2   53          3                  3

      Income  Country_region  Hotel_Type  No_of_Expected_Days_to_stay  ...  \
0          1               4           2                            2  ...
1          2               4           2                            4  ...
2          1               1           3                            1  ...
3          2               2           3                            2  ...
4          2               3           1                            1  ...
...      ...             ...         ...                          ...  ...
2744       3               3           2                            3  ...
2745       2               3           3                            1  ...
2746       2               1           2                            2  ...
2747       1               4           1                            1  ...
2748       4               2           3                            3  ...

      Meal_Type  Visted_Previously  Previous_Cancellations  Deposit_type  \
0             1                  0                       0             1
1             3                  1                       0             1
2             3                  0                       0             1
3             3                  1                       0             2
4             1                  1                       0             1
...         ...                ...                     ...           ...
2744          2                  1                       0             2
2745          3                  0                       0             3
2746          3                  0                       0             2
2747          1                  1                       1             1
2748          1                  0                       0             2

      Booking_channel  Required_Car_Parking  Reservation_Status  \
0                   3                     0                   1
1                   2                     1                   0
2                   1                     0                   0
3                   1                     0                   2
4                   2                     1                   2
...               ...                   ...                 ...
2744                2                     0                   2
2745                1                     1                   0
2746                3                     0                   1
2747                2                     1                   2
2748                1                     0                   2

      Use_Promotion  Discount_Rate  Room_Rate
0                 1             15        192
1                 0              0        187
2                 1             10        227
3                 1             25        189
4                 1             10        218
...             ...            ...        ...
2744              1             10        199
2745              1              5        106
2746              1             20        136
2747              1             20        226
2748              1             40        183

[2749 rows x 25 columns]>

In [26]:
# l = []
# count = 0
# for each in data:
#     if each < 0:
#         l.append(count)
#     count += 1
# l

[200,
 236,
 256,
 266,
 541,
 552,
 780,
 1066,
 1338,
 1384,
 1387,
 1789,
 2324,
 2562,
 2596,
 2702]

In [27]:
# dataset = dataset.drop(l)

In [28]:
# dataset.to_csv("new_validation_data_akeshala_nipun_samal_updated.csv")

In [19]:
data = read_csv('kneibours.csv')
data

      Unnamed: 0  Reservation-id  Reservation_Status
0              0        62931593                   0
1              1        70586099                   0
2              2         4230648                   2
3              3        25192322                   0
4              4        80931528                   0
...          ...             ...                 ...
4313        4313        39110574                   0
4314        4314         5496554                   0
4315        4315        59004046                   1
4316        4316        65838682                   0
4317        4317        14474101                   1

[4318 rows x 3 columns]

In [20]:
def f(x):
    return x+1

In [21]:
data.update(data['Reservation_Status'].apply(f))

In [22]:
data

      Unnamed: 0  Reservation-id  Reservation_Status
0              0        62931593                   1
1              1        70586099                   1
2              2         4230648                   3
3              3        25192322                   1
4              4        80931528                   1
...          ...             ...                 ...
4313        4313        39110574                   1
4314        4314         5496554                   1
4315        4315        59004046                   2
4316        4316        65838682                   1
4317        4317        14474101                   2

[4318 rows x 3 columns]

In [23]:
data.to_csv("submission1.csv")