In [76]:
from pandas import read_csv

In [77]:
dataset = read_csv('Hotel-A-test.csv')

In [78]:
print(dataset)

      Reservation-id Gender  Age         Ethnicity Educational_Level  \
0           62931593      F   52            Latino              Grad
1           70586099      F   47            Latino              Grad
2            4230648      F   28    Asian American              Grad
3           25192322      F   65         caucasian       High-School
4           80931528      M   45  African American           College
...              ...    ...  ...               ...               ...
4313        39110574      M   53            Latino           College
4314         5496554      F   63         caucasian           College
4315        59004046      F   59         caucasian              Grad
4316        65838682      M   43  African American           College
4317        14474101      F   33  African American        Mid-School

           Income Country_region      Hotel_Type Expected_checkin  \
0       25K --50K          South      City Hotel       11/18/2016
1       25K --50K           East  Airport Hotels       11/18/2016
2            <25K           East      City Hotel        4/28/2017
3       25K --50K          South  Airport Hotels       11/18/2016
4       25K --50K          South      City Hotel       11/18/2016
...           ...            ...             ...              ...
4313  50K -- 100K          South          Resort        3/29/2017
4314  50K -- 100K          South          Resort        3/29/2017
4315         <25K           East  Airport Hotels        3/29/2017
4316    25K --50K           West          Resort        3/29/2017
4317  50K -- 100K          North      City Hotel        3/29/2017

     Expected_checkout  ... Babies  Meal_Type  Visted_Previously  \
0           11/19/2016  ...      0         HB                 No
1           11/19/2016  ...      0         FB                 No
2             5/1/2017  ...      0         BB                 No
3           11/20/2016  ...      2         FB                 No
4           11/20/2016  ...      0         BB                 No
...                ...  ...    ...        ...                ...
4313         3/30/2017  ...      1         FB                Yes
4314          4/1/2017  ...      0         HB                 No
4315         3/30/2017  ...      0         FB                 No
4316         3/30/2017  ...      1         BB                 No
4317         3/30/2017  ...      0         HB                Yes

      Previous_Cancellations    Deposit_type Booking_channel  \
0                         No      No Deposit          Direct
1                         No      No Deposit          Online
2                         No      No Deposit           Agent
3                         No      No Deposit          Online
4                         No      Refundable           Agent
...                      ...             ...             ...
4313                      No  Non-Refundable          Online
4314                      No      Refundable           Agent
4315                      No      No Deposit          Direct
4316                      No      No Deposit          Online
4317                      No      No Deposit           Agent

     Required_Car_Parking Use_Promotion Discount_Rate Room_Rate
0                     Yes           Yes            10       153
1                      No            No             0       210
2                      No           Yes             5       117
3                     Yes           Yes            10       107
4                      No            No             0       119
...                   ...           ...           ...       ...
4313                  Yes            No             0       153
4314                  Yes           Yes            40       233
4315                  Yes            No             0       242
4316                  Yes            No             0       208
4317                  Yes           Yes            20       213

[4318 rows x 23 columns]

In [80]:
extracted_data = dataset.drop(columns = ["Expected_checkin","Expected_checkout","Meal_Type","Visted_Previously","Previous_Cancellations","Deposit_type","Booking_channel","Required_Car_Parking","Use_Promotion","Booking_date","Discount_Rate","Room_Rate"])
#,"Reservation_Status"

In [81]:
#gender
def gender_type(x):
    if x == "F":
        return 1
    elif x == "M":
        return 2    
 
gender = extracted_data["Gender"].apply(gender_type)
dataset.update(gender)

In [82]:
def ethnicity_type(x):
    if x == "Latino":
        return 1
    elif x== "caucasian":
        return 2
    elif x== "African American":
        return 3
    elif x== "Asian American":
        return 4
    
ethnicity = extracted_data["Ethnicity"].apply(ethnicity_type)
dataset.update(ethnicity)

In [83]:
def education_type(x):
    if x == "Grad":
        return 4
    elif x== "High-School":
        return 3
    elif x== "Mid-School":
        return 2
    elif x== "College":
        return 1
    
education = extracted_data["Educational_Level"].apply(education_type)
dataset.update(education)

In [84]:
def income_type(x):
    if x == "<25K":
        return 1
    elif x == "25K --50K":
        return 2
    elif x == "50K -- 100K":
        return 3
    elif x == ">100K":
        return 4
    
income = extracted_data["Income"].apply(income_type)
dataset.update(income)

In [85]:
def region_type(x):
    if x == "North":
        return 1
    elif x == "East":
        return 2
    elif x == "South":
        return 3
    elif x == "West":
        return 4
    
region = extracted_data["Country_region"].apply(region_type)
dataset.update(region)

In [86]:
def hotel_type(x):
    if x == "City Hotel":
        return 1
    elif x == "Resort":
        return 2
    elif x == "Airport Hotels":
        return 3
    
hotel = extracted_data["Hotel_Type"].apply(hotel_type)
dataset.update(hotel)

In [87]:
dataset.to_csv("new_test_data_akeshala.csv")

In [88]:
dataset.describe

<bound method NDFrame.describe of       Reservation-id Gender  Age Ethnicity Educational_Level Income  \
0           62931593      1   52         1                 4      2
1           70586099      1   47         1                 4      2
2            4230648      1   28         4                 4      1
3           25192322      1   65         2                 3      2
4           80931528      2   45         3                 1      2
...              ...    ...  ...       ...               ...    ...
4313        39110574      2   53         1                 1      3
4314         5496554      1   63         2                 1      3
4315        59004046      1   59         2                 4      1
4316        65838682      2   43         3                 1      2
4317        14474101      1   33         3                 2      3

     Country_region Hotel_Type Expected_checkin Expected_checkout  ... Babies  \
0                 3          1       11/18/2016        11/19/2016  ...      0
1                 2          3       11/18/2016        11/19/2016  ...      0
2                 2          1        4/28/2017          5/1/2017  ...      0
3                 3          3       11/18/2016        11/20/2016  ...      2
4                 3          1       11/18/2016        11/20/2016  ...      0
...             ...        ...              ...               ...  ...    ...
4313              3          2        3/29/2017         3/30/2017  ...      1
4314              3          2        3/29/2017          4/1/2017  ...      0
4315              2          3        3/29/2017         3/30/2017  ...      0
4316              4          2        3/29/2017         3/30/2017  ...      1
4317              1          1        3/29/2017         3/30/2017  ...      0

      Meal_Type  Visted_Previously  Previous_Cancellations    Deposit_type  \
0            HB                 No                      No      No Deposit
1            FB                 No                      No      No Deposit
2            BB                 No                      No      No Deposit
3            FB                 No                      No      No Deposit
4            BB                 No                      No      Refundable
...         ...                ...                     ...             ...
4313         FB                Yes                      No  Non-Refundable
4314         HB                 No                      No      Refundable
4315         FB                 No                      No      No Deposit
4316         BB                 No                      No      No Deposit
4317         HB                Yes                      No      No Deposit

     Booking_channel Required_Car_Parking Use_Promotion Discount_Rate  \
0             Direct                  Yes           Yes            10
1             Online                   No            No             0
2              Agent                   No           Yes             5
3             Online                  Yes           Yes            10
4              Agent                   No            No             0
...              ...                  ...           ...           ...
4313          Online                  Yes            No             0
4314           Agent                  Yes           Yes            40
4315          Direct                  Yes            No             0
4316          Online                  Yes            No             0
4317           Agent                  Yes           Yes            20

     Room_Rate
0          153
1          210
2          117
3          107
4          119
...        ...
4313       153
4314       233
4315       242
4316       208
4317       213

[4318 rows x 23 columns]>