In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import matplotlib.pyplot as plt
import seaborn as sns
from numpy.random import seed
seed(2)

In [11]:
df = pd.read_csv('train_preprocessed.csv', header=0)
X=df.iloc[:,1:24]
y=df.iloc[:,24:25]
X

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,3,1,0,0,0,-1,-1,-1,-1,-1,...,6004,39418,162772,-13982,3437,6004,39418,162772,0,538165
1,3,0,1,0,2,0,-1,-1,-1,-1,...,26948,43530,80811,124590,151818,46200,43530,80811,942,33666
2,2,0,1,1,0,4,3,2,2,-2,...,15477,0,0,0,0,0,0,0,0,0
3,5,0,0,1,0,2,0,0,0,0,...,95193,97309,100353,102740,3855,3890,3696,4620,4049,3918
4,3,0,0,0,0,2,2,0,0,0,...,429785,435354,445271,453899,0,20790,16170,17325,16401,17325
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23995,3,0,1,1,0,0,0,0,0,0,...,481323,203289,72157,36914,19635,46200,11557,7039,11550,2310
23996,7,0,1,0,0,-1,-1,-1,-1,0,...,8090,20741,11989,0,4243,8145,20785,298,0,0
23997,2,0,2,0,0,4,3,2,-1,0,...,6371,48228,47544,44715,0,0,50820,9702,4620,7161
23998,5,0,1,1,0,1,-1,0,0,0,...,176262,121908,27385,113061,198429,7875,2721,4449,122347,4167
23999,5,0,2,1,1,0,0,0,0,0,...,114955,84396,74909,35373,4800,4158,3303,2310,2310,2310

In [6]:
from sklearn.utils import shuffle
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report,confusion_matrix,roc_curve,auc,precision_recall_curve,roc_curve
import seaborn as sns

from sklearn.svm import SVC
from sklearn.model_selection import StratifiedKFold
from sklearn.feature_selection import RFECV
from sklearn.datasets import make_classification
from sklearn import discriminant_analysis

from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import classification_report
from sklearn.svm import SVC

from sklearn.decomposition import PCA
#from imblearn.combine import SMOTEENN

from sklearn.metrics import confusion_matrix
import itertools
from itertools import cycle

from sklearn import discriminant_analysis

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_validation, y_train, y_validation = train_test_split(X, y, test_size = 0.2,random_state=0)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=350,max_features=22,class_weight='balanced',random_state=0,
                          max_depth=8)
clf.fit(x_train, y_train)

y_pred=clf.predict(x_validation)
from sklearn import metrics

print("Accuracy:",metrics.accuracy_score(y_validation, y_pred))

C:\Users\AkeshalaMarasinghe\.conda\envs\HackStat2.0\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
ada_clf = AdaBoostClassifier(DecisionTreeClassifier(max_depth=9), n_estimators=300,algorithm="SAMME.R", learning_rate=0.0095)
ada_clf.fit(x_train_new,y_train_new)
from sklearn import metrics
y_pred = ada_clf.predict(x_validation)
print("Accuracy:",metrics.accuracy_score(y_validation, y_pred))
print(classification_report(y_validation,y_pred))