In [27]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix,classification_report
import seaborn as sns
from imblearn.under_sampling import RandomUnderSampler
from sklearn.metrics import roc_auc_score
from sklearn import preprocessing
import joblib

In [28]:
df = pd.read_csv("Encoded Data Combined/Final Combined Data/new_test_data_akeshala_nipun_samal.csv", encoding='latin-1')
x_test = df.drop(columns=["Reservation-id"]).iloc[:,1:]

In [29]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

x_test = sc.fit_transform(x_test)

In [30]:
import joblib
classifier = joblib.load('gradientboostmodel.pkl')
y_pred = classifier.predict(x_test)

In [31]:
id_list=df['Reservation-id'].to_numpy()
data = list(zip(id_list,y_pred))
result=pd.DataFrame(data, columns=['Reservation-id','Reservation_Status'])

In [32]:
result

      Reservation-id  Reservation_Status
0           62931593                   2
1           70586099                   1
2            4230648                   2
3           25192322                   1
4           80931528                   2
...              ...                 ...
4313        39110574                   0
4314         5496554                   0
4315        59004046                   2
4316        65838682                   1
4317        14474101                   0

[4318 rows x 2 columns]

In [33]:
result.to_csv('result.csv')