In [1]:
from numpy import genfromtxt
#from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from pandas import read_csv

In [2]:
dataset = read_csv('new_train_data_akeshala_nipun_samal.csv')

In [3]:
print(dataset)

       Unnamed: 0  Reservation-id  Gender  Age  Ethnicity  Educational_Level  \
0               0        39428300       1   40          1                  4
1               1        77491756       1   49          1                  2
2               2        73747291       1   42          2                  4
3               3        67301739       2   25          3                  1
4               4        77222321       1   62          1                  3
...           ...             ...     ...  ...        ...                ...
27494       27494        15645505       1   49          3                  2
27495       27495        56414525       1   49          4                  1
27496       27496        52023375       1   49          1                  3
27497       27497        98041387       2   65          3                  1
27498       27498        55243988       1   48          2                  1

       Income  Country_region  Hotel_Type  No_of_Expected_Days_to_stay  ...  \
0           1               1           1                            1  ...
1           3               2           1                            1  ...
2           1               2           1                            4  ...
3           4               3           3                            1  ...
4           2               2           2                            1  ...
...       ...             ...         ...                          ...  ...
27494       1               4           1                            1  ...
27495       2               3           3                            1  ...
27496       3               3           3                            1  ...
27497       2               3           3                            1  ...
27498       2               1           2                            1  ...

       Meal_Type  Visted_Previously  Previous_Cancellations  Deposit_type  \
0              1                  0                       0             0
1              1                  0                       0             1
2              1                  0                       0             0
3              1                  0                       0             1
4              1                  0                       0             0
...          ...                ...                     ...           ...
27494          0                  1                       1             0
27495          1                  0                       0             1
27496          0                  0                       0             0
27497          2                  0                       0             0
27498          0                  0                       0             0

       Booking_channel  Required_Car_Parking  Reservation_Status  \
0                    1                     1                   2
1                    1                     1                   2
2                    1                     1                   2
3                    2                     1                   2
4                    0                     0                   2
...                ...                   ...                 ...
27494                1                     1                   2
27495                2                     1                   1
27496                0                     1                   2
27497                1                     0                   0
27498                1                     0                   1

       Use_Promotion  Discount_Rate  Room_Rate
0                  1             10        218
1                  0              0        185
2                  0              0        119
3                  1              5        144
4                  1             10        242
...              ...            ...        ...
27494              1             10        100
27495              1             40        194
27496              1              5        202
27497              1             20        157
27498              0              0        210

[27499 rows x 25 columns]

In [4]:
extracted_data = dataset.drop(columns = ["Reservation-id","Gender","Age","Ethnicity","Educational_Level","Income","Country_region","Hotel_Type","Adults","Children","Babies"])

In [5]:
#Meal Type Encode
def meal_type(x):
    if x == 0:
        x = 1
        return x
    elif x == 1:
        x = 2
        return x
    elif x == 2:
        x = 3
        return x

In [6]:
meal_type = extracted_data["Meal_Type"].apply(meal_type)

In [7]:
dataset.update(meal_type)

In [8]:
def yes_no(x):
    if x == "Yes":
        x = 1
        return x
    elif x == "No":
        return 0

In [9]:
visited_previously = extracted_data["Visted_Previously"].apply(yes_no)

In [10]:
dataset.update(visited_previously)

In [11]:
Previous_Cancellations = extracted_data["Previous_Cancellations"].apply(yes_no)

In [12]:
dataset.update(Previous_Cancellations)

In [13]:
def Deposit_type(x):
    if x == 0:
        return 1
    elif x == 1:
        return 2
    elif x == 2:
        return 3
    elif x == 3:
        return 4

In [14]:
Deposit_type = extracted_data["Deposit_type"].apply(Deposit_type)

In [15]:
dataset.update(Deposit_type)

In [16]:
def Booking_channel(x):
    if x == 0:
        return 1
    elif x == 1:
        return 2
    elif x == 2:
        return 3

In [17]:
Booking_channel = extracted_data["Booking_channel"].apply(Booking_channel)

In [18]:
dataset.update(Booking_channel)

In [19]:
dataset.update(extracted_data["Required_Car_Parking"].apply(yes_no))

In [20]:
dataset.update(extracted_data["Use_Promotion"].apply(yes_no))

In [21]:
def result(x):
    if x == 2:
        return 0
    elif x == 1:
        return 2
    elif x == 0:
        return 1

In [22]:
dataset.update(dataset["Reservation_Status"].apply(result))

In [23]:
dataset.to_csv("new_train_data_akeshala_nipun_samal_new.csv")

In [24]:
dataset.describe

<bound method NDFrame.describe of        Unnamed: 0  Reservation-id  Gender  Age  Ethnicity  Educational_Level  \
0               0        39428300       1   40          1                  4
1               1        77491756       1   49          1                  2
2               2        73747291       1   42          2                  4
3               3        67301739       2   25          3                  1
4               4        77222321       1   62          1                  3
...           ...             ...     ...  ...        ...                ...
27494       27494        15645505       1   49          3                  2
27495       27495        56414525       1   49          4                  1
27496       27496        52023375       1   49          1                  3
27497       27497        98041387       2   65          3                  1
27498       27498        55243988       1   48          2                  1

       Income  Country_region  Hotel_Type  No_of_Expected_Days_to_stay  ...  \
0           1               1           1                            1  ...
1           3               2           1                            1  ...
2           1               2           1                            4  ...
3           4               3           3                            1  ...
4           2               2           2                            1  ...
...       ...             ...         ...                          ...  ...
27494       1               4           1                            1  ...
27495       2               3           3                            1  ...
27496       3               3           3                            1  ...
27497       2               3           3                            1  ...
27498       2               1           2                            1  ...

       Meal_Type  Visted_Previously  Previous_Cancellations  Deposit_type  \
0              2                  0                       0             1
1              2                  0                       0             2
2              2                  0                       0             1
3              2                  0                       0             2
4              2                  0                       0             1
...          ...                ...                     ...           ...
27494          1                  1                       1             1
27495          2                  0                       0             2
27496          1                  0                       0             1
27497          3                  0                       0             1
27498          1                  0                       0             1

       Booking_channel  Required_Car_Parking  Reservation_Status  \
0                    2                     1                   0
1                    2                     1                   0
2                    2                     1                   0
3                    3                     1                   0
4                    1                     0                   0
...                ...                   ...                 ...
27494                2                     1                   0
27495                3                     1                   2
27496                1                     1                   0
27497                2                     0                   1
27498                2                     0                   2

       Use_Promotion  Discount_Rate  Room_Rate
0                  1             10        218
1                  0              0        185
2                  0              0        119
3                  1              5        144
4                  1             10        242
...              ...            ...        ...
27494              1             10        100
27495              1             40        194
27496              1              5        202
27497              1             20        157
27498              0              0        210

[27499 rows x 25 columns]>

In [25]:
data = dataset['no_of_days_from_booking_to_ckeckin']

In [28]:
for cols in dataset.no_of_days_from_booking_to_ckeckin.tolist()[1:]:
    dataset = dataset.ix[data[cols] > 0]

AttributeError: 'DataFrame' object has no attribute 'ix'